.css_NM_Count_cnt_field, .css_NM_Count_cnt_field:hover {text-align: right}
.css_porciento_sum_label, .css_porciento_sum_label:hover {text-align: right; vertical-align: top}
.css_porciento_sum_field, .css_porciento_sum_field:hover {text-align: right; vertical-align: top}
.css_t_vehiculos_sum_label, .css_t_vehiculos_sum_label:hover {text-align: right; vertical-align: top}
.css_t_vehiculos_sum_field, .css_t_vehiculos_sum_field:hover {text-align: right; vertical-align: top}
