.css_id__label {text-align:;}
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_folioini__label { }
.css_folioini__line {text-align:center;}
.css_folioini__obj {text-align:center;}
.css_foliofin__label { }
.css_foliofin__line {text-align:center;}
.css_foliofin__obj {text-align:center;}
.css_vehiculoid__label { }
.css_vehiculoid__line {background-color:#6699CC;font-weight:bold;}
.css_vehiculoid__obj { }
.css_pagoid__label { }
.css_pagoid__line { }
.css_pagoid__obj { }
.css_cantidad__label { }
.css_cantidad__line {font-size:14px;font-weight:bold;text-align:center;}
.css_cantidad__obj {text-align:left;}
