.css_fld_fecha_ini_label, .css_fld_fecha_ini_label:hover {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fld_fecha_ini_grid_line, .css_fld_fecha_ini_grid_line:hover {vertical-align: top;text-align: center;}
.css_fld_fecha_fin_label, .css_fld_fecha_fin_label:hover {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fld_fecha_fin_grid_line, .css_fld_fecha_fin_grid_line:hover {vertical-align: top;text-align: center;}
.css_ver_tarifas_label, .css_ver_tarifas_label:hover {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_ver_tarifas_grid_line, .css_ver_tarifas_grid_line:hover {text-align: center;}
