.css_fechaoperacion_label, .css_fechaoperacion_label:hover {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fechaoperacion_grid_line, .css_fechaoperacion_grid_line:hover {vertical-align: top;text-align: center;}
.css_turnoid_label, .css_turnoid_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_turnoid_grid_line, .css_turnoid_grid_line:hover {vertical-align: top;text-align: right;}
.css_horaevento_label, .css_horaevento_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_horaevento_grid_line, .css_horaevento_grid_line:hover {vertical-align: top;text-align: right;}
.css_carrilid_label, .css_carrilid_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_carrilid_grid_line, .css_carrilid_grid_line:hover {vertical-align: top;text-align: right;}
.css_secuencial_label, .css_secuencial_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_secuencial_grid_line, .css_secuencial_grid_line:hover {vertical-align: top;text-align: right;}
.css_folio_label, .css_folio_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_folio_grid_line, .css_folio_grid_line:hover {vertical-align: top;text-align: right;}
.css_pagoid_label, .css_pagoid_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_pagoid_grid_line, .css_pagoid_grid_line:hover {vertical-align: top;text-align: right;}
.css_vehiculoid_cr_label, .css_vehiculoid_cr_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_vehiculoid_cr_grid_line, .css_vehiculoid_cr_grid_line:hover {vertical-align: top;text-align: right;}
.css_total_label, .css_total_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_total_grid_line, .css_total_grid_line:hover {text-align: right;}
.css_total_tot_ger, .css_total_tot_ger:hover {text-align: right;}
.css_diferencia_label, .css_diferencia_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_diferencia_grid_line, .css_diferencia_grid_line:hover {text-align: right;}
.css_diferencia_tot_ger, .css_diferencia_tot_ger:hover {text-align: right;}
.css_totaleq_label, .css_totaleq_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_totaleq_grid_line, .css_totaleq_grid_line:hover {text-align: right;}
.css_totaleq_tot_ger, .css_totaleq_tot_ger:hover {text-align: right;}
.css_vehiculoid_ect_label, .css_vehiculoid_ect_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_vehiculoid_ect_grid_line, .css_vehiculoid_ect_grid_line:hover {vertical-align: top;text-align: right;}
.css_consecutivo_label, .css_consecutivo_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_consecutivo_grid_line, .css_consecutivo_grid_line:hover {vertical-align: top;text-align: right;}
.css_casetaid_label, .css_casetaid_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_casetaid_grid_line, .css_casetaid_grid_line:hover {vertical-align: top;text-align: right;}
.css_fechaturno_label, .css_fechaturno_label:hover {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fechaturno_grid_line, .css_fechaturno_grid_line:hover {vertical-align: top;text-align: center;}
