.css_id_label, .css_id_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line, .css_id_grid_line:hover {vertical-align: top;text-align: right;}
.css_fecha_label, .css_fecha_label:hover {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fecha_grid_line, .css_fecha_grid_line:hover {vertical-align: top;text-align: center;}
.css_hora_label, .css_hora_label:hover {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_hora_grid_line, .css_hora_grid_line:hover {vertical-align: top;text-align: center;}
.css_usuario_label, .css_usuario_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_usuario_grid_line, .css_usuario_grid_line:hover {vertical-align: top;text-align: right;}
.css_accion_label, .css_accion_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_accion_grid_line, .css_accion_grid_line:hover {vertical-align: top;text-align: right;}
.css_description_label, .css_description_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_description_grid_line, .css_description_grid_line:hover {vertical-align: top;text-align: right;}
.css_ip_label, .css_ip_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_ip_grid_line, .css_ip_grid_line:hover {vertical-align: top;text-align: right;}
