.css_tipopagoid__label { }
.css_tipopagoid__line { }
.css_tipopagoid__obj { }
.css_tipo__label { }
.css_tipo__line { }
.css_tipo__obj { }
.css_esmarcacion__label { }
.css_esmarcacion__line { }
.css_esmarcacion__obj { }
.css_activo__label { }
.css_activo__line { }
.css_activo__obj { }
.css_pagoefectivo__label {vertical-align:middle;}
.css_pagoefectivo__line {text-align:center;}
.css_pagoefectivo__obj {text-align:left;}
