.css_casetaid_label { }
.css_casetaid_line {color:#000000;font-weight:bold;text-align:left;}
.css_casetaid_obj {text-align:left;}
.css_tramoid_label { }
.css_tramoid_line {text-align:left;}
.css_tramoid_obj {text-align:left;}
.css_tipopagoid_label { }
.css_tipopagoid_line {color:#000000;font-weight:bold;}
.css_tipopagoid_obj { }
.css_vehiculoid_label { }
.css_vehiculoid_line { }
.css_vehiculoid_obj { }
.css_importe_label { }
.css_importe_line {text-align:left;}
.css_importe_obj {text-align:left;}
.css_fechainicio_label { }
.css_fechainicio_line {color:#000000;}
.css_fechainicio_obj { }
.css_fechafin_label { }
.css_fechafin_line {color:#000000;}
.css_fechafin_obj { }
.css_importeejeligero_label { }
.css_importeejeligero_line {text-align:left;}
.css_importeejeligero_obj {text-align:left;}
.css_importeejepesado_label { }
.css_importeejepesado_line {text-align:left;}
.css_importeejepesado_obj {text-align:left;}
.css_fechacarga_label { }
.css_fechacarga_line { }
.css_fechacarga_obj { }
.css_activo_label { }
.css_activo_line { }
.css_activo_obj { }
