.css_casetaid_label, .css_casetaid_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_casetaid_grid_line, .css_casetaid_grid_line:hover {vertical-align: top;text-align: left;}
.css_fechaoperacion_label, .css_fechaoperacion_label:hover {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fechaoperacion_grid_line, .css_fechaoperacion_grid_line:hover {vertical-align: top;text-align: center;}
.css_fechaturno_label, .css_fechaturno_label:hover {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fechaturno_grid_line, .css_fechaturno_grid_line:hover {vertical-align: top;text-align: center;}
.css_turnoid_label, .css_turnoid_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_turnoid_grid_line, .css_turnoid_grid_line:hover {vertical-align: top;text-align: right;}
.css_horaevento_label, .css_horaevento_label:hover {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_horaevento_grid_line, .css_horaevento_grid_line:hover {vertical-align: top;text-align: center;}
.css_carrilid_label, .css_carrilid_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_carrilid_grid_line, .css_carrilid_grid_line:hover {vertical-align: top;text-align: right;}
.css_cuerpo_label, .css_cuerpo_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cuerpo_grid_line, .css_cuerpo_grid_line:hover {vertical-align: top;text-align: left;}
.css_vehiculoid_ana_label, .css_vehiculoid_ana_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_vehiculoid_ana_grid_line, .css_vehiculoid_ana_grid_line:hover {vertical-align: top;text-align: left;}
.css_clasevehiculo_ana_label, .css_clasevehiculo_ana_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_clasevehiculo_ana_grid_line, .css_clasevehiculo_ana_grid_line:hover {vertical-align: top;text-align: left;}
.css_importe_ana_label, .css_importe_ana_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_importe_ana_grid_line, .css_importe_ana_grid_line:hover {vertical-align: top;text-align: right;}
.css_pagoid_ana_label, .css_pagoid_ana_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_pagoid_ana_grid_line, .css_pagoid_ana_grid_line:hover {vertical-align: top;text-align: left;}
.css_estatusana_label, .css_estatusana_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_estatusana_grid_line, .css_estatusana_grid_line:hover {vertical-align: top;text-align: right;}
.css_tarifaee_ana_label, .css_tarifaee_ana_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_tarifaee_ana_grid_line, .css_tarifaee_ana_grid_line:hover {vertical-align: top;text-align: right;}
.css_impana_label, .css_impana_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_impana_grid_line, .css_impana_grid_line:hover {vertical-align: top;text-align: right;}
.css_consecutivo_label, .css_consecutivo_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_consecutivo_grid_line, .css_consecutivo_grid_line:hover {vertical-align: top;text-align: right;}
