.css_tipopagoid_label, .css_tipopagoid_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tipopagoid_grid_line, .css_tipopagoid_grid_line:hover {vertical-align: top;text-align: left;}
.css_tipo_label, .css_tipo_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tipo_grid_line, .css_tipo_grid_line:hover {vertical-align: top;text-align: left;}
.css_activo_label, .css_activo_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_activo_grid_line, .css_activo_grid_line:hover {vertical-align: top;text-align: left;}
.css_orden_label, .css_orden_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_orden_grid_line, .css_orden_grid_line:hover {vertical-align: top;text-align: right;}
