.css_nombretipopago_label, .css_nombretipopago_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nombretipopago_grid_line, .css_nombretipopago_grid_line:hover {vertical-align: top;text-align: left;}
.css_a_label, .css_a_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_a_grid_line, .css_a_grid_line:hover {vertical-align: top;text-align: right;}
.css_m_label, .css_m_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_m_grid_line, .css_m_grid_line:hover {vertical-align: top;text-align: right;}
.css_b2_label, .css_b2_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_b2_grid_line, .css_b2_grid_line:hover {vertical-align: top;text-align: right;}
.css_b3_label, .css_b3_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_b3_grid_line, .css_b3_grid_line:hover {vertical-align: top;text-align: right;}
.css_b4_label, .css_b4_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_b4_grid_line, .css_b4_grid_line:hover {vertical-align: top;text-align: right;}
.css_c2_label, .css_c2_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_c2_grid_line, .css_c2_grid_line:hover {vertical-align: top;text-align: right;}
.css_c3_label, .css_c3_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_c3_grid_line, .css_c3_grid_line:hover {vertical-align: top;text-align: right;}
.css_c4_label, .css_c4_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_c4_grid_line, .css_c4_grid_line:hover {vertical-align: top;text-align: right;}
.css_c5_label, .css_c5_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_c5_grid_line, .css_c5_grid_line:hover {vertical-align: top;text-align: right;}
.css_c6_label, .css_c6_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_c6_grid_line, .css_c6_grid_line:hover {vertical-align: top;text-align: right;}
.css_c7_label, .css_c7_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_c7_grid_line, .css_c7_grid_line:hover {vertical-align: top;text-align: right;}
.css_c8_label, .css_c8_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_c8_grid_line, .css_c8_grid_line:hover {vertical-align: top;text-align: right;}
.css_c9_label, .css_c9_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_c9_grid_line, .css_c9_grid_line:hover {vertical-align: top;text-align: right;}
.css_eea_label, .css_eea_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_eea_grid_line, .css_eea_grid_line:hover {vertical-align: top;text-align: right;}
.css_eec_label, .css_eec_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_eec_grid_line, .css_eec_grid_line:hover {vertical-align: top;text-align: right;}
.css_total_label, .css_total_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_total_grid_line, .css_total_grid_line:hover {text-align: right;}
