.css_tipopagoid_label, .css_tipopagoid_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tipopagoid_grid_line, .css_tipopagoid_grid_line:hover {color:#000000;background-color:#3399CC;vertical-align: top;text-align: right;}
.css_categoriaid_label, .css_categoriaid_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_categoriaid_grid_line, .css_categoriaid_grid_line:hover {vertical-align: top;text-align: right;}
