.css_NM_Count_cnt_field, .css_NM_Count_cnt_field:hover {text-align: right}
.css_depositopre_sum_label, .css_depositopre_sum_label:hover {text-align: right; vertical-align: top}
.css_depositopre_sum_field, .css_depositopre_sum_field:hover {text-align: right; vertical-align: top}
.css_montoana_sum_label, .css_montoana_sum_label:hover {text-align: right; vertical-align: top}
.css_montoana_sum_field, .css_montoana_sum_field:hover {text-align: right; vertical-align: top}
.css_faltanteana_sum_label, .css_faltanteana_sum_label:hover {text-align: right; vertical-align: top}
.css_faltanteana_sum_field, .css_faltanteana_sum_field:hover {text-align: right; vertical-align: top}
.css_sobranteana_sum_label, .css_sobranteana_sum_label:hover {text-align: right; vertical-align: top}
.css_sobranteana_sum_field, .css_sobranteana_sum_field:hover {text-align: right; vertical-align: top}
.css_depositototal_sum_label, .css_depositototal_sum_label:hover {text-align: right; vertical-align: top}
.css_depositototal_sum_field, .css_depositototal_sum_field:hover {text-align: right; vertical-align: top}
.css___nm_count_nm___cnt_label, .css___nm_count_nm___cnt_label:hover {text-align: right; vertical-align: top}
.css___nm_count_nm___cnt_field, .css___nm_count_nm___cnt_field:hover {text-align: right; vertical-align: top}
