.css_excentoid_label { }
.css_excentoid_line {text-align:left;}
.css_excentoid_obj {text-align:left;}
.css_dependencia_label { }
.css_dependencia_line { }
.css_dependencia_obj { }
.css_esactivo_label { }
.css_esactivo_line { }
.css_esactivo_obj { }
.css_casetaid_label { }
.css_casetaid_line {text-align:left;}
.css_casetaid_obj {text-align:left;}
