.css_categoriaid_label { }
.css_categoriaid_line {text-align:left;}
.css_categoriaid_obj {text-align:left;}
.css_descripcion_label { }
.css_descripcion_line { }
.css_descripcion_obj { }
.css_orden_label { }
.css_orden_line {text-align:left;}
.css_orden_obj {text-align:left;}
.css_efectivo_label { }
.css_efectivo_line { }
.css_efectivo_obj { }
.css_categoriapago_label { }
.css_categoriapago_line { }
.css_categoriapago_obj { }
