.css_id__label {text-align:;}
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_fecha__label {width:100px;}
.css_fecha__line { }
.css_fecha__obj { }
.css_fecha_deposito__label {width:100px;}
.css_fecha_deposito__line { }
.css_fecha_deposito__obj { }
.css_monto__label {width:100px;}
.css_monto__line {text-align:left;}
.css_monto__obj {text-align:left;}
.css_referencia__label {width:300px;}
.css_referencia__line { }
.css_referencia__obj { }
.css_caseta__label {width:100px;}
.css_caseta__line { }
.css_caseta__obj { }
