.css_casetaid_label, .css_casetaid_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_casetaid_grid_line, .css_casetaid_grid_line:hover {vertical-align: top;text-align: right;}
.css_fechainicio_label, .css_fechainicio_label:hover {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fechainicio_grid_line, .css_fechainicio_grid_line:hover {vertical-align: top;text-align: center;}
.css_fechafin_label, .css_fechafin_label:hover {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fechafin_grid_line, .css_fechafin_grid_line:hover {vertical-align: top;text-align: center;}
.css_tarifas_label, .css_tarifas_label:hover {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_tarifas_grid_line, .css_tarifas_grid_line:hover {text-align: center;}
