.css_turnoid_label { }
.css_turnoid_line {font-weight:bold;text-align:left;}
.css_turnoid_obj {text-align:left;}
.css_casetaid_label { }
.css_casetaid_line {text-align:left;}
.css_casetaid_obj {text-align:left;}
.css_cuerpo_label { }
.css_cuerpo_line { }
.css_cuerpo_obj { }
.css_usuarioid_label { }
.css_usuarioid_line { }
.css_usuarioid_obj { }
.css_carrilid_label { }
.css_carrilid_line {font-weight:bold;text-align:left;}
.css_carrilid_obj {text-align:left;}
.css_fechaoperacion_label { }
.css_fechaoperacion_line {font-weight:bold;}
.css_fechaoperacion_obj { }
.css_horainicio_label { }
.css_horainicio_line { }
.css_horainicio_obj { }
.css_horafin_label { }
.css_horafin_line { }
.css_horafin_obj { }
.css_encargadoturnoid_label { }
.css_encargadoturnoid_line {text-align:left;}
.css_encargadoturnoid_obj {text-align:left;}
.css_cantidadtotal_label {font-size:15px;color:#000000;text-align:center;}
.css_cantidadtotal_line {font-size:20px;font-weight:bold;text-align:center;vertical-align:middle;height:100px;}
.css_cantidadtotal_obj {text-align:center;}
.css_emergentes_label { }
.css_emergentes_line { }
.css_emergentes_obj { }
.css_estatusemergente_label { }
.css_estatusemergente_line {font-weight:bold;}
.css_estatusemergente_obj { }
