.css_id__label {text-align:;}
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_fecha__label {width:100px;}
.css_fecha__line { }
.css_fecha__obj { }
.css_fecha_pago__label {width:100px;}
.css_fecha_pago__line { }
.css_fecha_pago__obj { }
.css_faltante__label {width:100px;}
.css_faltante__line {text-align:left;}
.css_faltante__obj {text-align:left;}
.css_referencia_pago__label {width:300px;}
.css_referencia_pago__line { }
.css_referencia_pago__obj { }
.css_caseta__label {width:100px;}
.css_caseta__line { }
.css_caseta__obj { }
