.css_horaevento_label, .css_horaevento_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_horaevento_grid_line, .css_horaevento_grid_line:hover {font-size:12px;vertical-align: top;text-align: left;}
.css_secuencial_label, .css_secuencial_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_secuencial_grid_line, .css_secuencial_grid_line:hover {vertical-align: top;text-align: center;}
.css_folio_label, .css_folio_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_folio_grid_line, .css_folio_grid_line:hover {vertical-align: top;text-align: center;}
.css_vehiculoid_ect_label, .css_vehiculoid_ect_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_vehiculoid_ect_grid_line, .css_vehiculoid_ect_grid_line:hover {vertical-align: top;text-align: left;}
.css_vehiculoid_cr_label, .css_vehiculoid_cr_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_vehiculoid_cr_grid_line, .css_vehiculoid_cr_grid_line:hover {vertical-align: top;text-align: left;}
.css_pagoid_label, .css_pagoid_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_pagoid_grid_line, .css_pagoid_grid_line:hover {vertical-align: top;text-align: left;}
.css_vehiculoid_ana_label, .css_vehiculoid_ana_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_vehiculoid_ana_grid_line, .css_vehiculoid_ana_grid_line:hover {background-color:#99CCFF;vertical-align: top;text-align: left;}
.css_pagoid_ana_label, .css_pagoid_ana_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_pagoid_ana_grid_line, .css_pagoid_ana_grid_line:hover {background-color:#99CCFF;vertical-align: top;text-align: left;}
.css_placas_label, .css_placas_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_placas_grid_line, .css_placas_grid_line:hover {font-size:10px;vertical-align: top;text-align: left;}
.css_numerotarjeta_label, .css_numerotarjeta_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_numerotarjeta_grid_line, .css_numerotarjeta_grid_line:hover {font-size:10px;vertical-align: top;text-align: left;}
