.css_estatusana_fil_line, .css_estatusana_fil_line:hover {color:#000000;}
.css_estatusana_fil_obj, .css_estatusana_fil_obj:hover {color:#000000;}
.css_discrepancia_fil_label, .css_discrepancia_fil_label:hover {color:#000000;}
