.css_NM_Count_cnt_field, .css_NM_Count_cnt_field:hover {text-align: right}
.css_cruces_sum_label, .css_cruces_sum_label:hover {text-align: right; vertical-align: top}
.css_cruces_sum_field, .css_cruces_sum_field:hover {text-align: right; vertical-align: top}
.css_novalidos_sum_label, .css_novalidos_sum_label:hover {text-align: right; vertical-align: top}
.css_novalidos_sum_field, .css_novalidos_sum_field:hover {text-align: right; vertical-align: top}
.css_discrepancias_sum_label, .css_discrepancias_sum_label:hover {text-align: right; vertical-align: top}
.css_discrepancias_sum_field, .css_discrepancias_sum_field:hover {text-align: right; vertical-align: top}
.css_porcientoconteo_avg_label, .css_porcientoconteo_avg_label:hover {text-align: right; vertical-align: top}
.css_porcientoconteo_avg_field, .css_porcientoconteo_avg_field:hover {text-align: right; vertical-align: top}
.css_porcientodisc_avg_label, .css_porcientodisc_avg_label:hover {text-align: right; vertical-align: top}
.css_porcientodisc_avg_field, .css_porcientodisc_avg_field:hover {text-align: right; vertical-align: top}
