.css_tramoid_label, .css_tramoid_label:hover {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_tramoid_grid_line, .css_tramoid_grid_line:hover {vertical-align: top;text-align: center;}
.css_descripcion_label, .css_descripcion_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_descripcion_grid_line, .css_descripcion_grid_line:hover {vertical-align: top;text-align: left;}
