.css_descripcion_label { }
.css_descripcion_line { }
.css_descripcion_obj { }
.css_marca_label { }
.css_marca_line { }
.css_marca_obj { }
.css_modelo_label { }
.css_modelo_line { }
.css_modelo_obj { }
.css_cantidad_label { }
.css_cantidad_line {text-align:left;}
.css_cantidad_obj {text-align:left;}
.css_localizacion_label { }
.css_localizacion_line { }
.css_localizacion_obj { }
.css_numero_serie_label { }
.css_numero_serie_line { }
.css_numero_serie_obj { }
.css_carril_label { }
.css_carril_line { }
.css_carril_obj { }
.css_status_label { }
.css_status_line {text-align:left;}
.css_status_obj {text-align:left;}
.css_id_caseta_label { }
.css_id_caseta_line {text-align:left;}
.css_id_caseta_obj {text-align:left;}
