.css_cantidadmxn_label { }
.css_cantidadmxn_line {text-align:left;}
.css_cantidadmxn_obj {text-align:left;}
.css_cantidadusd_label { }
.css_cantidadusd_line {text-align:left;}
.css_cantidadusd_obj {text-align:left;}
.css_importemxn_label { }
.css_importemxn_line {text-align:left;}
.css_importemxn_obj {font-weight:bold;text-align:left;}
.css_importeusd_label { }
.css_importeusd_line {text-align:left;}
.css_importeusd_obj {text-align:left;}
.css_folioinicialcr_label { }
.css_folioinicialcr_line {color:#000000;text-align:left;}
.css_folioinicialcr_obj {text-align:left;}
.css_foliofinalcr_label { }
.css_foliofinalcr_line {color:#000000;text-align:left;}
.css_foliofinalcr_obj {text-align:left;}
.css_folioinicialeap_label { }
.css_folioinicialeap_line {color:#000000;}
.css_folioinicialeap_obj { }
.css_foliofinaleap_label { }
.css_foliofinaleap_line {color:#000000;}
.css_foliofinaleap_obj { }
.css_foliofinr1_label { }
.css_foliofinr1_line { }
.css_foliofinr1_obj { }
.css_foliofinr2_label { }
.css_foliofinr2_line { }
.css_foliofinr2_obj { }
.css_folioinir1_label { }
.css_folioinir1_line { }
.css_folioinir1_obj { }
.css_folioinir2_label { }
.css_folioinir2_line { }
.css_folioinir2_obj { }
.css_folioinir3_label { }
.css_folioinir3_line { }
.css_folioinir3_obj { }
.css_foliofinr3_label { }
.css_foliofinr3_line { }
.css_foliofinr3_obj { }
.css_mxn_label { }
.css_mxn_line { }
.css_mxn_obj {font-size:15px;font-weight:bold;text-align:left;}
.css_ingresoelu_label { }
.css_ingresoelu_line { }
.css_ingresoelu_obj {font-size:15px;font-weight:bold;text-align:left;}
.css_usd_obj {text-align:left;}
