.css_autopistaid__label {text-align:;}
.css_autopistaid__line {text-align:left;}
.css_autopistaid__obj {text-align:left;}
.css_autopista__label { }
.css_autopista__line { }
.css_autopista__obj { }
.css_kmini__label { }
.css_kmini__line { }
.css_kmini__obj { }
.css_kmfin__label { }
.css_kmfin__line { }
.css_kmfin__obj { }
.css_responsable__label { }
.css_responsable__line {text-align:left;}
.css_responsable__obj {text-align:left;}
.css_telefono__label { }
.css_telefono__line { }
.css_telefono__obj { }
