.css_turno_det_label, .css_turno_det_label:hover {text-align: left;vertical-align: middle;}
.css_turno_det_line, .css_turno_det_line:hover {height:0px;text-align: left;}
.css_periodo_det_label, .css_periodo_det_label:hover {text-align: left;vertical-align: middle;}
.css_periodo_det_line, .css_periodo_det_line:hover {height:0px;text-align: left;}
.css_hora_det_label, .css_hora_det_label:hover {text-align: left;vertical-align: middle;}
.css_hora_det_line, .css_hora_det_line:hover {height:0px;text-align: left;}
