.css_turnoid_label { }
.css_turnoid_line {text-align:left;}
.css_turnoid_obj {text-align:left;}
.css_casetaid_label { }
.css_casetaid_line {text-align:left;}
.css_casetaid_obj {text-align:left;}
.css_usuarioid_label { }
.css_usuarioid_line { }
.css_usuarioid_obj { }
.css_observacion_label { }
.css_observacion_line { }
.css_observacion_obj { }
