.css_observaciones_label { }
.css_observaciones_line { }
.css_observaciones_obj { }
.css_efectivo_elu_label {font-weight:normal;}
.css_efectivo_elu_line {font-weight:bold;}
.css_efectivo_elu_obj {font-weight:bold;text-align:left;}
