.css_alarmaid_label, .css_alarmaid_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_alarmaid_grid_line, .css_alarmaid_grid_line:hover {vertical-align: top;text-align: right;}
.css_tipoid_label, .css_tipoid_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_tipoid_grid_line, .css_tipoid_grid_line:hover {vertical-align: top;text-align: right;}
.css_descripcion_label, .css_descripcion_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_descripcion_grid_line, .css_descripcion_grid_line:hover {vertical-align: top;text-align: left;}
