.css_imagenbinario_label, .css_imagenbinario_label:hover {text-align:left;}
.css_imagenbinario_grid_line, .css_imagenbinario_grid_line:hover {vertical-align: top;}
.css_fechainsertado_label, .css_fechainsertado_label:hover {text-align:left;}
.css_fechainsertado_grid_line, .css_fechainsertado_grid_line:hover {vertical-align: top;}
