.css_fld_complementa_label { }
.css_fld_complementa_line { }
.css_fld_complementa_obj {font-size:15px;background-color:#C9C9FF;font-weight:bold;border-color:#000066;}
.css_leyenda_label { }
.css_leyenda_line {font-size:12px;color:#000000;font-weight:bold;}
.css_leyenda_obj {color:#CC0000;}
