.css_vehiculo_label, .css_vehiculo_label:hover {text-align:left;}
.css_vehiculo_grid_line, .css_vehiculo_grid_line:hover {vertical-align: middle;}
.css_placas_label, .css_placas_label:hover {text-align:left;}
.css_placas_grid_line, .css_placas_grid_line:hover {vertical-align: top;}
