.css_alarmaid_label { }
.css_alarmaid_line {text-align:left;}
.css_alarmaid_obj {text-align:left;}
.css_tipoid_label { }
.css_tipoid_line {text-align:left;}
.css_tipoid_obj {text-align:left;}
.css_descripcion_label { }
.css_descripcion_line { }
.css_descripcion_obj { }
